.navbar {
  background-color: transparent;
}

.navbar.colorChange {
  background-color: white;
}


.transition {
  transition: ease-out 0.3s;
}

nav ul {
  list-style: none;
  text-align: center;
} 

.nav-link {
  padding-right: 5rem;
  font-size: large;
  color: white;
}

.nav-item {
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: "Manrope";
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  transform: scaleX(0);
  height: 6%;
  bottom: 0;
  left: 0;
  background-color: #ff7000;
  /* transform-origin: bottom left; */
  transform-origin: top;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: top;
  /* transform-origin: bottom left; */
}

.hover-underline-animation1:after{ 
  transform: scaleX(1);
  transform-origin: top;
  transform-origin: bottom left;
}