@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* @import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap") */
.headingText {
  /* font-family: "Raleway", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
    Arial, sans-serif; */
  font-family: "Satisfy", cursive;
  font-size: 25px;
  font-weight: 560;
  color: black;
  text-align: left;
  position: relative;
}
.headingText:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 7%;
  bottom: 0;
  left: 0%;

  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  background: linear-gradient(to right, #ee0979, #ff6a00);
  transform-origin: top;
  transition: transform 0.25s ease-out;
  -webkit-backface-visibility: hidden;
}

.bodyText {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Open Sans";
  font-size: 18px;
  text-align: justify;
}

.galleryImg {
  border-radius: 6px;
  cursor: pointer;
}

/* .img-hover-zoom {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
}

.img-hover-zoom:hover {
  filter: brightness(100%);
  transform: scale(3);
} */

.img-hover-zoom {
  /* height: 300px; [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.img-hover-zoom--slowmo img {
  transform-origin: 50% 55%;
  transition: transform 5s, filter 1s ease-in-out;
  /* filter: brightness(150%); */
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(105%);
  transform: scale(1.4);
}

.imgText {
  color: white;

  font-size: 18px;
  font-family: "Manrope";
  display: inline-block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
.locationText {
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: "Manrope";
  display: inline-block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.imgText::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 0%;
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  background: linear-gradient(to right, #ee0979, #ff6a00);
  transform-origin: top;
  transition: transform 0.25s ease-out;
  -webkit-backface-visibility: hidden;
}
.nodata {
  font-family: "Cormorant", sans-serif;
  font-size: 34px;
  color: black;
  text-align: center;
  padding-top: 44px;
  position: relative;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.waterMark {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.cont:hover .middle {
  opacity: 1;
}

.cont:hover img {
  filter: brightness(50%);
}

#gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
#gallery img,
#gallery video {
  width: 100%;
  height: auto;
  margin: 1% auto;
  /* box-shadow: -3px 5px 5px #000; */
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-img,
.model-vid {
  width: 100%;
  height: auto;
}
.modal-body {
  padding: 0px;
}

/* .pswp img {
  max-width: none;
  object-fit: contain !important;

} */

.pswp img {
  object-fit: contain !important;
  /* max-height: 400px !important; */
  /* max-width: auto !important; */
  margin-top: 100px;
  margin-bottom: 100px;
}

#gallery1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 5vw);
  grid-gap: 15px;
}

#gallery1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryHeadingText {
  /* font-family: "Raleway", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
    Arial, sans-serif; */
  font-family: "Satisfy", cursive;
  font-size: 25px;
  font-weight: 560;
  color: black;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.galleryHeadingText:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6%;
  bottom: 0;
  left: 0;
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  background: linear-gradient(to right, #ee0979, #ff6a00);
  transform-origin: top;
  transition: transform 0.25s ease-out;
  -webkit-backface-visibility: hidden;
}

.hoverGalleryImg {
  transition: transform 0.2s;
  margin: 0 auto;
}
.hoverGalleryImg:hover {
  transform: scale(1.01);
}
